[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
scikit-learn = "*"
spacy = "*"
pandas = "*"
tensorflow = "*"
dash = "*"
plotly = "*"
dash-core-components = "*"
dash-html-components = "*"
jupyter = "*"
Keras = "*"

[requires]
python_version = "3.8"
